---
layout: home
---

<h1>Links</h1>


{% assign links = site.data.link | sort: "name" %}
<div>

    <ul>
        {% for link in links %}
        <li><a class="blue-link" href="{{ link.link}}" target="_blank">{{ link.name }}</a></li>
        <p>{{ link.description }}</p>
        {% endfor %}
    </ul>

</div>


<h1>Cut Outs</h1>
{% assign tools = site.data.cutout %}
<div>

    <ul>
        {% for cutout in tools %}
        <li><a href="{{ cutout.link}}" target="_blank">{{ cutout.name }}</a></li>
    
        {% endfor %}
    </ul>

</div>