---
layout: home
---
<body>

    <h1>Linkliste Research</h1>

    <h2>Datenbanken</h2>
    {% assign datenbank = site.data.datenbank | sort: "name" %}
    <div>

         <ul>
            {% for datenbank in datenbank %}
            <li><a href="{{ datenbank.link}}" target="_blank">{{ datenbank.name }}</a></li>
            <p>{{ datenbank.description}}</p>
            {% endfor %}
        </ul>

    </div>

    <h2>Verlage + Zeitschriften</h2>
    {% assign verlage = site.data.verlage | sort: "name" %}
    <div>

         <ul>
            {% for verlage in verlage %}
            <li><a href="{{ verlage.link}}" target="_blank">{{ verlage.name }}</a></li>
            <p>{{ verlage.description}}</p>
            {% endfor %}
        </ul>

    </div>

</body>