---
layout: default
---
<body>

    <h1>Linkliste Research</h1>

    <h2>Datenbanken</h2>
    {% assign datenbanken = site.data.datenbanken | sort: "name" %}
    <div>

         <ul>
            {% for datenbanken in datenbanken %}
            <li><a href="{{ datenbanken.link}}" target="_blank">{{ datenbanken.name }}</a></li>
            <p>{{ datenbanken.description}}</p>
            {% endfor %}
        </ul>

    </div>

    <h2>Verlage + Zeitschriften</h2>
    {% assign verlage = site.data.verlage | sort: "name" %}
    <div>

         <ul>
            {% for verlage in verlage %}
            <li><a href="{{ verlage.link}}" target="_blank">{{ verlage.name }}</a></li>
            <p>{{ verlage.description}}</p>
            {% endfor %}
        </ul>

    </div>

</body>