body {background-color: rgb(20, 20, 20);}

h1 {
  color: rgb(255, 255, 255);
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 166, 50);
}

a:active {
  color:rgb(255, 166, 50)
}

a {
  color: rgb(255, 255, 255);
}